<div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-left m-b-lg">
				<h2 class="statcard-number block-title"></h2>
			</div>
		</div>

		<div class="container-fluid download standalone">
				
				<div class="col-xs-6">
					<a href="https://play.google.com/store/apps/details?id=com.apeerco.Apeer" class="android r" target="_blank"><img src="/assets/img/dl-android.png"></a>
				</div>
				<div class="col-xs-6">
					<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1119274542&mt=8" class="ios l" target="_blank"><img src="/assets/img/dl-ios.png"></a>
				</div>
			</div>
		</div>

		<div class="text-right app-block-design-img">
			<img src="/assets/img/iphone-reverse-perspective-sized.png" class="app-translate-50" data-transition="entrance">
		</div>
		
	</div>
</div>