<div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design top-buffer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-left m-b-lg">
				<h2 class="statcard-number block-title">Download Apeer</h2>
			</div>
		</div>

		<div class="row pos-r featured-list">
			<div class="col-sm-7 text-left">
				<p class="featured-list-icon-text"></p>
				<div id="download">
					<div class="item"><a href="https://play.google.com/store/apps/details?id=com.apeerco.Apeer" class="android" target="_blank"><img src="/assets/img/dl-android.png"></a>
					<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1119274542&mt=8" class="ios" target="_blank"><img src="/assets/img/dl-ios.png"></a></div>
					<div class="item"></div>
				</div>
				<br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
		</div>

		<div class="text-right app-block-design-img">
			<img src="/assets/img/iphone-reverse-perspective-sized.jpg" class="app-translate-50" data-transition="entrance">
		</div>
		
	</div>
</div>