<div class="block block-bordered-lg">
	<div class="container">
		<div class="row">
			<div class="col-sm-6  text-left m-b-lg">
				<h2 class="statcard-number block-title">Privacy Policy</h2>
			</div>
		</div>

		<div class="row pos-r featured-list">
			<div class="col-sm-12 text-left">
				<p class="lead text-left">Updated September 1, 2016</p>
				<p class="featured-list-icon-text text-left">Nothing is more important to us than your trust. As a service built on mutual confidence we are devoted to protecting your security and privacy.</p>
				 
				<p class="featured-list-icon-text text-left">We respectfully provide this Privacy Policy to tell you exactly how your information will be handled when you use the Apeer app and website (collectively, “Service”) operated by Apeer, Inc. (“Apeer”, “we”, “us”, or “our”). The information you share with us is used solely for running and improving the Service.</p>
				<p class="featured-list-icon-text text-left"><strong>Information You Provide</strong></p>
				 
				<p class="featured-list-icon-text text-left">PERSONAL INFORMATION:   When you register as a member of the Service we collect personal information including your name, email address, phone number, and bar number. You have the option to upload a profile photo and/or a short bio about yourself if you wish to realize the full potential of your profile. </p>

				<p class="featured-list-icon-text text-left">PAYMENT INFORMATION:   The first time you choose to use the Service to assign a court appearance you will need to add a credit or debit card as your method of payment. This information is passed directly to Stripe, our payments processor, who secures it for your convenience regarding future assignments. Only the last four digits of the card will be retained by Apeer for reference.</p>

				<p class="featured-list-icon-text text-left">CASE INFORMATION:   To assign your appearance to an appearance attorney (“Peer”) you must provide some information relating to your client’s case (collectively, “Case Information”). The following Case Information will be shared with potential Peers to perform a conflicts check and determine if they are qualified and available: client name; case name; case type; hearing type; courthouse; and date/time of appearance. All other Case Information including the case number, your instructions, file attachments, chat messages, and case number is available solely to you and your assigned Peer. Further, identifying information like client name, case name, and case number are encrypted to ensure utmost security. While Peers are vetted and bound by the rules of law and professional responsibility as they apply in the state where the attorney is a sworn member of the bar, we cannot control the actions of any member. Apeer cannot therefore guarantee how attorneys will use Case Information received through the Service.</p>

				<p class="featured-list-icon-text text-left">INFORMATION FOR PEERS:   If you apply to become a Peer, we will request relevant information such as work experience and practice areas to determine if you meet the requirements. If you are approved, a deposit account must be added before you can accept an appearance. To set up your deposit account Stripe requires the following information: a checking account number; routing number; social security number; and birthdate. Social security numbers and birthdates are passed through our server directly to Stripe and never retained by Apeer.</p>
				<p class="featured-list-icon-text text-left"><strong>Information Collected Automatically</strong></p>
				 
				<p class="featured-list-icon-text text-left">Like most internet services, we gather some information automatically from your interaction with and use of the Service. This information includes:</p>

				<p class="featured-list-icon-text text-left">Device information like the type of device used, operating system, screen and system specifications, browser types, local time zone, date/time, referring sites and/or search engines to aid in administering the Service. Such details are used to anonymously identify individuals to enable Apeer to gather general, non-personally identifying demographic information.</p>

				<p class="featured-list-icon-text text-left">Server logs we gather include information like member interaction events such as page visits and app features, device Internet Protocol (IP) address, unique device identifier, access dates/times, app crashes and other system activity.</p>

				<p class="featured-list-icon-text text-left">We may use cookies, pixel tags, and similar technologies to better understand visitor and member interaction with the Service. These technologies may also be used to remember your preferences and information to help us improve the Service and your experience.</p>
				<p class="featured-list-icon-text text-left"><strong>Information Use and Disclosure</strong></p>
				 
				<p class="featured-list-icon-text text-left">Apeer uses the information you provide to create and maintain your account; provide product and/or service fulfillment such as member accounts, managing payments, quality control, etc.; perform internal operations such as tracking and improving the effectiveness of our website, the Service, marketing efforts, etc.; personalize member experiences like remembering your settings and preferences; provide support; provide information to our representatives and/or advisors such as our attorneys, accountants, and others to help us comply with legal, accounting, security, and operational requirements; prevent fraud; and improve our service.</p>

				<p class="featured-list-icon-text text-left">Apeer may provide general statistics about its customers, sales, traffic patterns, and related Service information to certain third parties, including our third party web designers and developers, our subsidiaries and affiliates, a buyer or other successor in the event of merger or other type of sale or transfer of some or all of Apeer, or to fulfill any purpose that we disclose when you provide the information. This information may include some personal information.</p>
				<p class="featured-list-icon-text text-left"><strong>Protection of Your Information</strong></p>
				        	
				<p class="featured-list-icon-text text-left">In order to prevent the unauthorized access or disclosure of your personal information and ensure the appropriate and accurate use of information, we have appropriate physical, electronic and managerial procedures to secure the information Apeer collects online from your activities on the Service.  Note that no data transmission via the Internet can ever be guaranteed to be completely secure.  Thus, Apeer cannot ensure or warrant the security of any information you transmit to Apeer over the Internet.  Therefore, you make any such transmission at your own risk. Once we receive your transmission, we use reasonable efforts to ensure its security on our computer systems.</p>
				<p class="featured-list-icon-text text-left"><strong>Requests</strong></p>
				 
				<p class="featured-list-icon-text text-left">California Civil Code Section 1798.83 permits members of our Service that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please contact: <A href="mailto:info@apeer.co">info@apeer.com</a>.
				<p class="featured-list-icon-text text-left"><strong>Communication</strong></p>
				 
				<p class="featured-list-icon-text text-left">Visitors to the Service may provide their email address in order to request updates regarding Apeer. By registering for the Service you will be opting-in to receive updates from us including emails, newsletters, and promotional material. You can update your preferences or opt-out of non-critical communication at apeer.co/preferences.</p>
				<p class="featured-list-icon-text text-left"><strong>Acceptance</strong></p>
				 
				<p class="featured-list-icon-text text-left">Your use of the Service signifies you have read, understand and agree to our Privacy Policy and <a href="/terms">Terms of Service</a>. We may update this policy from time to time. When an update contains material changes, we will notify you through the Service. Your continued use of the Service after such notice constitutes your acknowledgment and acceptance of the changes. </p>
				<p class="featured-list-icon-text text-left"><strong>Contacting Us</strong></p>
				 
				<p class="featured-list-icon-text text-left">If you have any questions or concerns regarding this Privacy Policy or our information processing please contact us at <A href="mailto:info@apeer.co">info@apeer.co.</a></p>

			</div>
		</div>

	</div>
</div>