<div class="block block-bordered-lg">
	<div class="container">
		<div class="row">
			<div class="col-sm-6  text-left m-b-lg">
				<h2 class="statcard-number block-title">Contact</h2>
			</div>
		</div>

		<div class="row pos-r featured-list">
			<div class="col-sm-7 text-left">
				<p class="featured-list-icon-text">
					Apeer, Inc.<br>
					<a href="mailto:info@apeer.co" class="link">info@apeer.co</a>
				</p>
			</div>
		</div>
		
	</div>
</div>
