<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A smart app for attorneys. Quickly assign court appearances to trusted peers.">

		<title>Apeer</title>

		<!--FB OG-->
		<meta property="og:title" content="Apeer" />
		<meta property="og:image" content="https://www.apeer.co/assets/img/social.jpg" />
		<meta property="og:type" content="product" />
		<meta property="og:url" content="https://www.apeer.co/" />
		<meta property="og:site_name" content="A smart app for attorneys. Quickly assign court appearances to trusted peers." />

		<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/custom.css?v=1" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/waypoints.min.js"></script>
		<script src="/assets/js/toolkit.js"></script>
		<script src="/assets/js/application.js?v=1"></script>
	</head>


<body>
		<%- partial("_partials/navigation") %>
		<%- yield %>
		<%- partial("_partials/footer") %>
</body>
</html>