<!-- Intro -->
<div class="block app-block-intro z-10">
	<div class="container text-center">
		<h1 class="block-title m-b-sm text-uppercase logo">Appearances matter</h1>
		<p class="lead m-b-lg p-b-md">
			So does your time. Choose both.
		</p>
		<img src="/assets/img/iphone-to-iphone-sized.jpg" class="app-translate-50" data-transition="entrance">
	</div>
</div>

<!-- Sizzle 1 background image -->
<div class="block text-center block-fill-height z-10">
	<div class="block-xs-middle">
		<div class="block-foreground w-lg">
			<h1 class="block-title" data-transition="entrance" style="transform: translateY(50px)">YOU. TIMES TWO.</h1>
			<h3 data-transition="entrance" style="transform: translateY(50px)">
				Get a talented attorney to handle court appearances on your behalf OR cover hearings to strengthen your own practice. Apeer multiplies your power.
			</h3>
		</div>
		<div class="block-background t2_bg"></div>
	</div>
</div>
 
 
<!-- Sizzle 2 -->
<div class="block block-inverse text-center block-fill-height z-10">
	<div class="block-xs-middle">
		<div class="block-foreground w-lg">
			<h1 class="block-title" data-transition="entrance" style="transform: translateY(50px)">PEER POWER</h1>
			<h3 class="text-muted" data-transition="entrance" style="transform: translateY(50px)">
				In the time it takes to send a text, assign routine hearings to a vetted attorney (a “Peer”) with experience matching the needs of your matter.
			<br><br><br><br><br><br><br>
			</h3>
		</div>
		<div class="block-background p_bg"></div>
	</div>
</div>

 <!-- Mobile View Slides -->
<div class="block" id="small-screen-slides">
	<div class="container">
		<div class="row block block-bordered-lg" id="assignment_mobile">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Assign</h1>
				<p class="lead poster">
					<br>
					Add the pertinent case details fast. Get notified as soon as a Peer accepts your appearance. It really is that simple.
				</p>
				<p class="collapse lead" id="collapse_assignment_mobile">
					<br>
					When we call our Peers qualified, we do not use the term lightly. Apeer works with a vetted network of special appearance attorneys who are a cut above the rest. After you have submitted the requested details, a flat rate is provided for your review and approval. Peers with appropriate expertise are alerted instantly. Once the request has been accepted, you will be linked directly to your Peer.</p>
        		<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_assignment_mobile" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>
		
		<div class="row block block-bordered-lg" id="communication_mobile">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Connected</h1>
				<p class="lead poster">
					<br>
					Designed to keep you updated and in command. Features like chat and file sharing set the foundation for a successful appearance. Everything stays neatly organized in one place to ensure nothing is missed. 
				</p>
				<p class="collapse lead" id="collapse_communication_mobile">
					<br>
					Have documents from your Peer emailed to you, upload a file directly from Dropbox, or simply snap a quick photo of your notes. Chat with your Peer to stay on top of things. Helpful information like the court clerk’s phone number and the judge’s name is automatically provided. Receive courtesy reminders on the eve of the hearing. We handle the details so you and your Peer can focus on the important stuff. Rest assured your sensitive data is protected with the highest level of security.</p>
        		<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_communication_mobile" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>

		<div class="row block block-bordered-lg" id="security_mobile">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Secure</h1>
				<p class="lead poster">
					<br>
					Nothing is more important than the protection of your case and client information. Our industry-leading security offers peace of mind.
				</p>
				<p class="collapse lead" id="collapse_security_mobile">
					<br>
					We understand that confidentiality is at the core of your work. Apeer safeguards your information using 256-bit encryption on our servers. In the unlikely event of a compromise, your data remains inaccessible to any would be hackers. SSL pinning ensures data is secure even during transmission. Technology can be cutting-edge without cutting corners.</p>
        		<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_security_mobile" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>

		<div class="row block block-bordered-lg" id="appearance_mobile">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Appearances</h1>
				<p class="lead poster">
					<br>
					Be confident the matter is in good hands. You are not just sending someone in your place. You are sending a Peer. 
				</p>
				<p class="collapse lead" id="collapse_appearance_mobile">
					<br>
					After the hearing, your Peer will send you the summary report same-day, along with any new documentation. Rating your Peer contributes to the ongoing review process and archives all case details for convenient future reference. 
					<br><br>
					We are not a law firm. We are a platform that can elevate yours.</p>
				<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_appearance_mobile" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>

	</div>
</div>

<!-- Desktop View Slides -->
<div class="block block-bordered-lg p-b-0 app-block-stats" id="large-screen-slides">
	<div class="container">
		<div class="row">

			<div class="pos-f lock-screen">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/blank_screen.png">
					</div>
				</div>
			</div>
			<div class="pos-f after-lock-screen"></div>

			<div class="pos-f scroll-screen" id="scroll_lock">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_1.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_assignment">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_5.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_communication">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_2.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_security">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_3.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_appearance">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_6.png">
					</div>
				</div>
			</div>

			<div class="w-md scroll-side">

				<!-- <div class="text-sm-left block-fill-height scroll-screen" id="lock">
					<div class="block-xs-middle">
						<h1 class="statcard-number block-title"></h1>
						<p class="lead"></p>
					</div>
				</div> -->

				<div class="text-sm-left block-fill-height scroll-screen" id="assignment">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Assign</h1>
						<p class="lead poster">
							<br>
							Add the pertinent case details fast. Get notified as soon as a Peer accepts your appearance. It really is that simple.
						</p>
						<p class="collapse lead" id="collapse_assignment" id="collapse_assignment">
							<br>
							When we call our Peers qualified, we do not use the term lightly. Apeer works with a vetted network of special appearance attorneys who are a cut above the rest. After you have submitted the requested details, a flat rate is provided for your review and approval. Peers with appropriate expertise are alerted instantly. Once the request has been accepted, you will be linked directly to your Peer.</p>
        				<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_assignment">LEARN MORE &raquo;</a></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="communication">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Connected</h1>
						<p class="lead poster">
							<br>
							Designed to keep you updated and in command. Features like chat and file sharing set the foundation for a successful appearance. Everything stays neatly organized in one place to ensure nothing is missed. 
						</p>
						<p class="collapse lead" id="collapse_communication">
							<br>
							Have documents from your Peer emailed to you, upload a file directly from Dropbox, or simply snap a quick photo of your notes. Chat with your Peer to stay on top of things. Helpful information like the court clerk’s phone number and the judge’s name is automatically provided. Receive courtesy reminders on the eve of the hearing. We handle the details so you and your Peer can focus on the important stuff. Rest assured your sensitive data is protected with the highest level of security.</p>
        				<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_communication" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="security">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Secure</h1>
						<p class="lead poster">
							<br>
							Nothing is more important than the protection of your case and client information. Our industry-leading security offers peace of mind.
						</p>
						<p class="collapse lead" id="collapse_security">
							<br>
							We understand that confidentiality is at the core of your work. Apeer safeguards your information using 256-bit encryption on our servers. In the unlikely event of a compromise, your data remains inaccessible to any would be hackers. SSL pinning ensures data is secure even during transmission. Technology can be cutting-edge without cutting corners.</p>
        				<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_security" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="appearance">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Appearances</h1>
						<p class="lead poster">
							<br>
							Be confident the matter is in good hands. You are not just sending someone in your place. You are sending a Peer. 
						</p>
						<p class="collapse lead" id="collapse_appearance">
							<br>
							After the hearing, your Peer will send you the summary report same-day, along with any new documentation. Rating your Peer contributes to the ongoing review process and archives all case details for convenient future reference. 
							<br><br>
							We are not a law firm. We are a platform that can elevate yours.</p>
        				<p class="learn-cta"><a class="btn" data-toggle="collapse" href="#collapse_appearance" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Sizzle 3 -->
<div class="block block-inverse text-center block-fill-height z-10">
	<div class="block-xs-middle">
		<div class="block-foreground w-lg" data-transition="entrance" style="transform: translateY(50px)">
			<h1 class="block-title">JOIN US</h1>
			<h3 class="text-muted">
				You use apps to upgrade the way you live.<br>
				Let Apeer upgrade the way you work.
			</h3>
			<br>
			
			<div class="container-fluid download">
				<br><br><br>
				<div class="col-xs-6" data-transition="entrance" style="transform: translateY(50px)">
					<a href="https://play.google.com/store/apps/details?id=com.apeerco.Apeer" class="android r" target="_blank"><img src="/assets/img/dl-android.png"></a>
				</div>
				<div class="col-xs-6" data-transition="entrance" style="transform: translateY(50px)">
					<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1119274542&mt=8" class="ios l" target="_blank"><img src="/assets/img/dl-ios.png"></a>
				</div>
			</div>
		</div>
		<div class="block-background m_bg"></div>
	</div>
</div>

<div class="block block-bordered-lg text-center z-10">
	<div class="container-fluid">
		<h2 class="statcard-number block-title" data-transition="entrance" style="transform: translateY(50px)">Get Notified</h2>
		<p class="lead m-b-md" data-transition="entrance" style="transform: translateY(50px)">
		Be the first to know when Apeer is available in your area.
		</p>
		<h2 class="statcard-number block-title" id="thanks">Thanks for your interest!</h2>
		<form class="form-inline" id="home-form" data-transition="entrance" style="transform: translateY(50px)">
			<input class="form-control m-b" placeholder="Email Address" id="email-address">
			<button class="btn btn-primary m-b">Get notified</button>
		</form>
	</div>
</div>
