<!-- Intro -->
<div class="block app-block-intro z-10">
	<div class="container text-center">
		<h1 class="block-title m-b-sm text-uppercase logo"><b>Appearances matter</b></h1>
		<p class="lead m-b-lg p-b-md">
			So does your time. Choose both.
		</p>
		<img src="/assets/img/iphone-to-iphone-sized.jpg" class="app-translate-50" data-transition="entrance">
	</div>
</div>

<!-- Sizzle 1 background image -->
<div class="block text-center block-fill-height z-10">
	<div class="block-xs-middle">
		<div class="block-foreground w-lg">
			<h1 class="block-title">YOU. TIMES TWO.</h1>
			<h3>
				It pays to divide and conquer. Gain the advantages of a larger firm with attorneys working on your behalf when you need them OR make appearances at your convenience to strengthen your own practice.
			</h3>
			<br> <br> <br> <br> <br> <br>
			<h2><span class="has-you-covered">Apeer multiplies your power.</span></h2>
		</div>
		<div class="block-background t2_bg"></div>
	</div>
</div>
 
 
<!-- Sizzle 2 -->
<div class="block block-inverse text-center block-fill-height z-10">
	<div class="block-xs-middle">
		<div class="block-foreground w-lg">
			<h1 class="block-title">PEER POWER</h1>
			<h3 class="text-muted">
				In the time it takes to send a text, assign a court appearance to a skilled attorney (a “Peer”) who best fits the details of your case.
			</h3>
		</div>
		<div class="block-background p_bg"></div>
	</div>
</div>

 <!-- Mobile View Slides -->
<div class="block" id="small-screen-slides">
	<div class="container">
		<div class="row block block-bordered-lg">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Assignment</h1>
				<p class="lead">
					<br>
					Save time by quickly adding case details through the elegant interface. Get notified as soon as a qualified Peer accepts your appearance. It really is that simple.
				</p>
				<p class="collapse lead">What if you could focus more on the bigger things with fewer appearances raising scheduling conflicts and interrupting your day? Or perhaps you would rather be at the beach? Whatever the case, your time should be yours. Apeer makes it fast and easy to assign routine court appearances to another experienced attorney – called a “Peer”. To assign an appearance through the app you simply enter the pertinent details (e.g. party names, case number, date/time, appearance type) and tap submit. Apeer instantly alerts vetted Peers who meet the needs of your appearance. You are notified when a Peer accepts the assignment.</p>
        		<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>
		
		<div class="row block block-bordered-lg">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Communication</h1>
				<p class="lead">
					<br>
					Chat and share files with your Peer through the app. Everything related to your appearance neatly organized in one place. Checklists are sent on the eve of the hearing to ensure nothing is missed.
				</p>
				<p class="collapse lead">Once a Peer has been tasked with handling your appearance, the lines of communication open. You can chat with your Peer and share files instantly through the app. Upload a document directly from Dropbox or other sources, have documents from your Peer automatically emailed to you, or simply snap a quick photo of some notes you jotted down. All relevant information is kept in one place to keep you organized. We even send checklists before an appearance to help be sure you stay on top of things. And you can rest assured your sensitive data is protected with the highest level of security.</p>
        		<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>

		<div class="row block block-bordered-lg">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Security</h1>
				<p class="lead">
					<br>
					The protection of your client and case information is just as important to us as it is to you. Our industry-leading security equals your peace of mind.
				</p>
				<p class="collapse lead">We understand that client confidentiality is part of the foundation on which you stand. Even the smallest communication about an appearance can include the most sensitive details. Apeer safeguards your information using 256-bit encryption on our servers. In the unlikely event of a compromise, your data remains out-of-reach of any would be hackers. Our app and servers communicate through SSL pinning, ensuring data is secure even during transmission. That same measure of safety extends to your payment information as well. Technology can be cutting-edge without cutting corners.</p>
        		<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>

		<div class="row block block-bordered-lg">
			<div class="text-sm-left col-md-4 info-wrap">
				<h1 class="statcard-number block-title">Appearance</h1>
				<p class="lead">
					<br>
					Be confident your case is in good hands. You are not just sending someone in your place. You are sending a Peer. 
				</p>
				<p class="collapse lead">When we call our Peers “qualified,” we do not use the term lightly. Apeer works with a network of special appearance attorneys who are a cut above the rest. A Peer cannot be assigned to an appearance without significant experience in the relevant area of law and a familiarity with the courthouse in question. After the hearing, your Peer will send you the summary report same-day, along with any new documentation or records. Afterward, you can evaluate your Peer to contribute to the ongoing review process and archive all case details for convenient future reference. Coverage of your appearance is so comprehensive, you might start to think you were actually there.
				<br/>
				We are not a law firm. We are a tool that will become part of yours.</p>
				<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
			</div>
		</div>

	</div>
</div>

<!-- Desktop View Slides -->
<div class="block block-bordered-lg p-b-0 app-block-stats" id="large-screen-slides">
	<div class="container">
		<div class="row">

			<div class="pos-f lock-screen">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/blank_screen.png" data-transition="entrance">
					</div>
				</div>
			</div>
			<div class="pos-f after-lock-screen"></div>

			<div class="pos-f scroll-screen" id="scroll_lock">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_1.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_messaging">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_5.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_results">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_2.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_security">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_3.png">
					</div>
				</div>
			</div>

			<div class="pos-f scroll-screen scroll-screen-down" id="scroll_ethics">
				<div class="w-md">
					<div class="col-md-7 col-sm-6">
						<img src="/assets/img/screen_6.png">
					</div>
				</div>
			</div>

			<div class="w-md scroll-side">

				<div class="text-sm-left block-fill-height scroll-screen" id="lock">
					<div class="block-xs-middle">
						<h1 class="statcard-number block-title"></h1>
						<p class="lead"></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="messaging">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Assignment</h1>
						<p class="lead">
							<br>
							Save time by quickly adding case details through the elegant interface. Get notified as soon as a qualified Peer accepts your appearance. It really is that simple.
						</p>
						<p class="collapse lead">What if you could focus more on the bigger things with fewer appearances raising scheduling conflicts and interrupting your day? Or perhaps you would rather be at the beach? Whatever the case, your time should be yours. Apeer makes it fast and easy to assign routine court appearances to another experienced attorney – called a “Peer”. To assign an appearance through the app you simply enter the pertinent details (e.g. party names, case number, date/time, appearance type) and tap submit. Apeer instantly alerts vetted Peers who meet the needs of your appearance. You are notified when a Peer accepts the assignment.</p>
        				<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="results">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Communication</h1>
						<p class="lead">
							<br>
							Chat and share files with your Peer through the app. Everything related to your appearance neatly organized in one place. Checklists are sent on the eve of the hearing to ensure nothing is missed.
						</p>
						<p class="collapse lead">Once a Peer has been tasked with handling your appearance, the lines of communication open. You can chat with your Peer and share files instantly through the app. Upload a document directly from Dropbox or other sources, have documents from your Peer automatically emailed to you, or simply snap a quick photo of some notes you jotted down. All relevant information is kept in one place to keep you organized. We even send checklists before an appearance to help be sure you stay on top of things. And you can rest assured your sensitive data is protected with the highest level of security.</p>
        				<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="security">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Security</h1>
						<p class="lead">
							<br>
							The protection of your client and case information is just as important to us as it is to you. Our industry-leading security equals your peace of mind.
						</p>
						<p class="collapse lead">We understand that client confidentiality is part of the foundation on which you stand. Even the smallest communication about an appearance can include the most sensitive details. Apeer safeguards your information using 256-bit encryption on our servers. In the unlikely event of a compromise, your data remains out-of-reach of any would be hackers. Our app and servers communicate through SSL pinning, ensuring data is secure even during transmission. That same measure of safety extends to your payment information as well. Technology can be cutting-edge without cutting corners.</p>
        				<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>

				<div class="text-sm-left block-fill-height scroll-screen" id="ethics">
					<div class="block-xs-middle info-wrap">
						<h1 class="statcard-number block-title">Appearance</h1>
						<p class="lead">
							<br>
							Be confident your case is in good hands. You are not just sending someone in your place. You are sending a Peer. 
						</p>
						<p class="collapse lead">When we call our Peers “qualified,” we do not use the term lightly. Apeer works with a network of special appearance attorneys who are a cut above the rest. A Peer cannot be assigned to an appearance without significant experience in the relevant area of law and a familiarity with the courthouse in question. After the hearing, your Peer will send you the summary report same-day, along with any new documentation or records. Afterward, you can evaluate your Peer to contribute to the ongoing review process and archive all case details for convenient future reference. Coverage of your appearance is so comprehensive, you might start to think you were actually there.
						<br/>
						We are not a law firm. We are a tool that will become part of yours.</p>
        				<p class="learn-cta"><a class="btn" href="#">LEARN MORE &raquo;</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Sizzle 3 -->
<div class="block block-inverse text-center block-fill-height z-10">
	<div class="block-xs-middle">
		<div class="block-foreground w-lg">
			<h1 class="block-title">FOR MODERN LAWYERS</h1>
			<h3 class="text-muted">
				You use apps to upgrade the way you live.<br>
				Let Apeer upgrade the way you work.
			</h3>
			<br/>
			<h2 class="statcard-number block-title"><a href="/download" class="white">Join Us</a></h2>
		</div>
		<div class="block-background m_bg"></div>
	</div>
</div>
 
<div class="block block-bordered-lg text-center z-10" id="downloadsection">
	<div class="container-fluid download">
		<h2 class="statcard-number block-title">Download</h2>
		
		<div class="col-xs-6">
			<a href="https://play.google.com/store/apps/details?id=com.apeerco.Apeer" class="android r" target="_blank"><img src="/assets/img/dl-android.png"></a>
		</div>
		<div class="col-xs-6">
			<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1119274542&mt=8" class="ios l" target="_blank"><img src="/assets/img/dl-ios.png"></a>
		</div>
	</div>
</div>

<div class="block block-bordered-lg text-center z-10">
	<div class="container-fluid">
		<h2 class="statcard-number block-title">Keep Informed</h2>
		<p class="lead m-b-md">
		Be notified when Apeer is available in your area.
		</p>
		<h2 class="statcard-number block-title" id="thanks">Thanks for your interest!</h2>
		<form class="form-inline" id="home-form">
			<input class="form-control m-b" placeholder="Email Address" id="email-address">
			<button class="btn btn-primary m-b">Get notified</button>
		</form>
	</div>
</div>