<script src="/assets/js/particles.js"></script>

<div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design">
	<div class="container">
		<div class="row" data-transition="entrance" style="transform: translateY(50px)">
			<div class="col-sm-6 text-left m-b-lg">
				<h2 class="statcard-number block-title">Our Resolve</h2>
			</div>
		</div>

		<div class="row pos-r featured-list" data-transition="entrance" style="transform: translateY(50px)">
			<div class="col-sm-9 text-left">
				<p class="featured-list-icon-text">
					When our ancestors looked to the night sky and began to draw lines between the stars, they understood our ability to create something greater than the sum of its parts. The resulting charts and constellations provided directions to new discoveries and progress. 
					<br><br>
					Today, the technology that allows us to team up with others at the tap of a button also reminds us that we can be more than just ourselves. Apeer is designed to give lawyers the flexibility to grow and evolve on their own terms. Our purpose is help you focus on the things that matter most and stay ahead of the curve.
					<br><br>
					There has never been a better time to advance the way you work. Instead of adapting in response to a changing environment, you can be the force that changes it. 
					<br><br>
					Let’s connect, collaborate and conquer.
					<br><br><br><br>
				</p>
			</div>
		</div>

		<div class="row" data-transition="entrance" style="transform: translateY(70px)">
			<div class="col-sm-6 text-left m-b-lg">
				<h2 class="statcard-number block-title">Our Team</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 text-left m-b-lg" data-transition="entrance" style="transform: translateY(100px)">
				<h3 class="statcard-number block-title">
					Christopher Borhani
					<h4 class="text-muted">Co-Founder & CEO</h4>
				</h3>
				<div class="text-left">
					<p><img src="/assets/img/chris.jpg" width="90%"></p>
					<p class="featured-list-icon-text">
						Connecting talented people is what Christopher does best. Before launching Apeer to advance the legal practice, Christopher joined forces with a colleague from law school to build a firm from the ground up in San Francisco. There, he gained exceptional appearance results by empowering the attorneys that produce them.
						<br><br>
						Christopher previously held positions in film production at Focus Features [Universal Pictures], legal affairs at Summit Entertainment [Lionsgate], and several law firms across Los Angeles. An entrepreneur by nature, he enjoys finding ways to improve the quality of life. His wolfdog loftmates care less about apps but do look forward to his occasional three-in-the-morning piano concerts.
						<br><br>
					</p>
				</div>
			</div>

			<div class="col-sm-4 text-left m-b-lg" data-transition="entrance" style="transform: translateY(140px)">
				<h3 class="statcard-number block-title">
					Codin Pangell
					<h4 class="text-muted">Co-Founder & CTO</h4>
				</h3>
				<div class="text-left">
					<p><img src="/assets/img/codin.jpg" width="90%"></p>
					<p class="featured-list-icon-text">
						Conceiving simple solutions to complex problems and elegantly executing his vision has earned Codin the opportunity to work with many high-profile clients including Nike, Microsoft, Hulu, Disney, Lionsgate, Fox and Dodge. Drawing on a decade of experience programming and implementing mobile solutions, digital installations, APIs, and databases, Codin sparks technical ingenuity to life at Apeer with innovative features and capabilities. 
						<br><br>
						His exceptional toolkit saves Apeer members valuable time and resources while giving them the opportunity to grow and elevate their practice.
						<br><br>
					</p>
				</div>
			</div>

			<div class="col-sm-4 text-left m-b-lg" data-transition="entrance" style="transform: translateY(180px)">
				<h3 class="statcard-number block-title">
					Josh Pangell
					<h4 class="text-muted">Co-Founder</h4>
				</h3>
				<div class="text-left">
					<p><img src="/assets/img/josh.jpg" width="90%"></p>
					<p class="featured-list-icon-text">
						It takes more than hard work to turn a concept into a pioneering organization fueled by passionate members. Having accomplished this more than once, Josh has the unique knowledge and ability to make Apeer a remarkable service.
						<br><br>
						As a co-founder at Cargo, he developed a social platform adopted by hundreds of thousands of artists to share work, ideas, and inspiration. Before that, he engineered another global network that enables scientists, technologists, and futurists to collaborate on cutting-edge projects. Until he can explore space for real, Josh pilots recreational aircraft for fun.
						<br><br>
					</p>
				</div>
			</div>
		</div>

		

		<div id="particles-js"></div>

		<div class="text-right app-block-design-img">
			
		</div>
		
	</div>
</div>